body {
    background-color: #F6F9FB;
    min-height: 720px;
    color: #555;
    font-size: 15px;
    line-height: 1.7;
}

input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 255, 189); /* #FAFFBD; */
    background-image: none;
    color: rgb(0, 0, 0);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #4D555D;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: #000;
}

.display_none {
    display: none;
}

.btn_empty {
    text-decoration: none;
    padding: .5em .8em;
    height: 41px;
    line-height: 39px;
    color: #5fa6e5;
    background: none;
    border: 1px solid #96c2e9;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
}

.idx-minwidth {
    min-width: 1200px;
}
